/************** Skin 1 *********************/
.dd {
	/*display:inline-block !important;*/
	text-align:left;
	color:#adadad;
	font-family:"Arial";
	font-size:10px;
	float:right;
}
.dd .ddTitle {
	background-image:url(img/change_language_bg.jpg);
	padding:5px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:15px;
	color:#adadad;
	font-family:"Arial";
	font-size:10px;
}
.dd .ddTitle span.arrow {
	background:url(img/arrow.png) no-repeat 0 0; float:right; display:inline-block;width:7px; height:4px; margin-top:6px; margin-right:3px; cursor:pointer; 
}

.dd .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:14px;}
.dd .ddTitle span.ddTitleText img{text-align:left; padding-right:5px; padding-top:-1px; padding-left:5px;}
.dd .ddTitle img.selected {
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	border:1px solid #d1d1d1;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#f6f6f6;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:2px 0 2px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd .ddChild a:hover {
	background-color:#f3f3f3;
}
.dd .ddChild a img {
	border:0;
	padding:0 4px 0 0;
	vertical-align:middle;
}
/*
.dd .ddChild a.selected {
	background-color:#66CCFF;
	
}
*/
.hidden {display:none;}

.dd .borderTop{border-top:1px solid #c3c3c3 !important;}
.dd .noBorderTop{border-top:none 0  !important}

